<div class="p-4 bg-white dark:bg-gray-800 text-gray-900 dark:text-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4">{{ 'SETTINGS.TITLE' | translate }}</h2>

  <ul class="space-y-6">
    <!-- Language Selection -->
    <li class="flex items-center justify-between pb-4 border-b border-gray-200 dark:border-gray-700 last:border-b-0">
      <label class="text-lg font-medium">{{ 'SETTINGS.LANGUAGE' | translate }}</label>
      <div class="flex items-center space-x-4">
        <button (click)="switchLanguage('en')" class="focus:outline-none">
          <img src="assets/images/flags/en.png" alt="English Flag" class="w-8 h-8 rounded-full shadow-md" [class.border-4]="translate.currentLang === 'en'" [class.border-blue-500]="translate.currentLang === 'en'">
        </button>
        <button (click)="switchLanguage('my')" class="focus:outline-none">
          <img src="assets/images/flags/my.png" alt="Burmese Flag" class="w-8 h-8 rounded-full shadow-md" [class.border-4]="translate.currentLang === 'my'" [class.border-blue-500]="translate.currentLang === 'my'">
        </button>
        <button (click)="switchLanguage('zh')" class="focus:outline-none">
          <img src="assets/images/flags/zh.png" alt="Chinese Flag" class="w-8 h-8 rounded-full shadow-md" [class.border-4]="translate.currentLang === 'zh'" [class.border-blue-500]="translate.currentLang === 'zh'">
        </button>
      </div>
    </li>

    <!-- Dark Mode Toggle -->
    <li class="flex items-center justify-between pt-4">
      <label class="text-lg font-medium">{{ 'SETTINGS.DARK_MODE' | translate }}</label>
      <label class="switch">
        <input type="checkbox" [checked]="isDarkMode" (change)="toggleDarkMode()">
        <span class="slider round"></span>
      </label>
    </li>
  </ul>
</div>
