<div class="container mx-auto p-4 bg-white dark:bg-gray-800 text-gray-900 dark:text-white rounded-lg shadow-md">
  <h1 class="text-2xl font-bold mb-6">{{ 'USER_INFO.TITLE' | translate }}</h1>

  <div class="flex flex-col items-center mb-6">
    <fa-icon [icon]="faUserCircle" class="text-primary-500 text-8xl mb-4"></fa-icon>
    <h2 class="text-xl font-semibold">{{ username }}</h2>
    <p class="text-gray-600 dark:text-gray-400">{{ email }}</p>
  </div>

  <ul class="space-y-4">
    <li class="flex items-center justify-between pb-2 border-b border-gray-200 dark:border-gray-700">
      <span class="text-lg font-medium">{{ 'USER_INFO.NAME' | translate }}:</span>
      <span class="text-lg">{{ username }}</span>
    </li>
    <li class="flex items-center justify-between pb-2 border-b border-gray-200 dark:border-gray-700">
      <span class="text-lg font-medium">{{ 'USER_INFO.EMAIL' | translate }}:</span>
      <span class="text-lg">{{ email }}</span>
    </li>
    <li class="flex items-center justify-between pt-2">
      <span class="text-lg font-medium">{{ 'USER_INFO.CHANGE_PASSWORD' | translate }}:</span>
      <button (click)="onChangePassword()" class="px-4 py-2 bg-primary-600 text-white rounded-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-opacity-50">
        {{ 'USER_INFO.CHANGE_PASSWORD_BUTTON' | translate }}
      </button>
    </li>
  </ul>
</div>